@import "tailwindcss";

@theme {
  --color-primary-pink: #ED2793;
  --color-primary-blue: #145390;
  --color-background-light: #fdf5f9; /* Light tint of pink */
  --color-background-blue: #f0f4f8; /* Light tint of blue */
  --font-sans: var(--font-plus-jakarta-sans), "Plus Jakarta Sans", "Segoe UI", sans-serif;
}

@layer base {
  body {
    @apply antialiased text-gray-800 bg-white font-sans;
    font-family: var(--font-plus-jakarta-sans), "Plus Jakarta Sans", "Segoe UI", sans-serif !important;
  }
}
